[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/reference-implementation"]
	path = lib/reference-implementation
	url = https://github.com/erc6900/reference-implementation
[submodule "lib/crypto-lib"]
	path = lib/crypto-lib
	url = https://github.com/get-smooth/crypto-lib
